<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="signIn" method="post">
    <table border="0">
        <tr>
            <td align="right">用户姓名：</td>
            <!--action调用的是控制器里的@RequestMapping的value的值-->
            <td>
                <input type="search" placeholder="请输入姓名" name="userName" />
            </td>
        </tr>
        <tr>
            <td align="right">用户性别：</td>
            <td>
                <input type="radio" name="userGender" value="男" />男
                <input type="radio" name="userGender" value="女" />女
            </td>
        </tr>

        <tr>
            <td align="right">电话号码：</td>
            <td>
                <input name="userNumber" type="number" placeholder="请输入手机号码"/>
            </td>
        </tr>
        <tr>
            <td align="right">账号：</td>
            <td>
                <input type="text" placeholder="请输入账号" name="account" />
            </td>
        </tr>
        <tr>
            <td align="right">密码：</td>
            <td>
                <input type="password" name="password" placeholder="请输入至少6位数密码"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" name="registeredDate" id="registered_date" value="" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" name="lastLoginDate" id="last_login_date" value="" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="signIn" value="注册" align="center"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>